@page
@model PantherPetManagement_NguyenVanDuyKhiem.Pages.Account.ForbiddenModel
@{
    ViewData["Title"] = "Forbidden";
}

<div class="row text-center">
    <h1 class="text-danger">Forbidden</h1>
    <h3 class="text-danger">You dont have permission to access this function!</h3>
</div>
