@page
@model RazorPage.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Logout</h3>
                </div>
                <div class="card-body text-center">
                    <p>You have been successfully logged out.</p>
                    <a href="/" class="btn btn-primary">Return to Home</a>
                    <a href="/Account/Login" class="btn btn-outline-secondary">Login Again</a>
                </div>
            </div>
        </div>
    </div>
</div>